.centered-container {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  padding-top: 2%;
  box-sizing: border-box;
  min-height: 100vh;
  width: 95%;
  margin: 0 auto;
  transition: background-color 0.3s ease; /* Efecto de transición */
  background-color: rgb(
    40,
    40,
    233
  ); /* Azul oscuro como color de fondo inicial */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .centered-container {
    width: 95%;
    padding: 5%;
  }
}
