.chat-page {
  background-color: #0000e200;
  width: 100%;
  height: 80vh;
  overflow-x: unset;
  flex-direction: column;
  padding: 20px; /* Añade algo de espacio alrededor de los elementos */
}

.chat-container {
  border-color: #28a745;
  padding: 20px;
}

.chat-inputs textarea {
  width: 80%;
  flex-direction: column;
  justify-content: center;
  height: 50px; /* Ajusta la altura */
  border: 2px solid #007bff; /* Cambia el color del borde */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interno para el texto */
  font-size: 16px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  background-color: #f8f9fa; /* Color de fondo */
  outline: none; /* Quita el borde azul al hacer clic */
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */
}

.chat-messages-list {
  overflow-x: auto;
}

.chat-inputs {
  width: 99%;
  background-color: rgb(136, 199, 199);
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0; /* Se fija en la parte inferior del contenedor */
  padding: 10px; /* Añade algo de espacio alrededor de los elementos */
  box-sizing: border-box;
}
/* Puedes agregar un cambio de color cuando el textarea esté en foco */
.chat-inputs textarea:focus {
  flex-direction: column;
  border-color: #28a745; /* Color del borde cuando el textarea está en foco */
  background-color: #e9f5ec; /* Color de fondo cuando está en foco */
}

.chat-window-wrapper {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 90%;
  background-color: #e2e2e2;
  overflow-y: hidden;
  height: 80%;
  margin: 0 auto;
}

.chat-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e2e2e2;
  width: 90%;
  max-height: 80%;
  margin: 0 auto;
}

.chat-footer {
  flex-direction: column;
  justify-content: center;
}

.chat-header {
  font-size: 0%;
}

.chat-powered-by {
  display: none;
}

.chat-message-from-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(136, 199, 199);
}

.chat-window-toggle {
  background-color: #007bff00;
}

.chat-messages-list {
  max-height: 50vh;
  background-color: #33333300;
  overflow-x: auto;
}
